%table.table.table-striped
  %thead
    %tr
      %th ИД
      %th Партнер
      %th Наименование
      %th Краткое описание
      %th Дата изменения
      %th Операции
  %tbody.sortable{data: { update_url: mass_update_order_at_api_partner_products_path }}
    - @partner_products.each do |partner_product|
      %tr{data: {id: partner_product.id}}
        %td= partner_product.id
        %td= partner_product.partner.name_ru
        %td= partner_product.title_ru
        %td= sanitize(truncate(partner_product.subtitle_ru, length: 200, separator: ' '))
        %td=l partner_product.updated_at
        %td
          .btn-group.btn-group-vertical
            = link_to 'Править', edit_admin_partner_product_path(partner_product), class: 'btn btn-mini'
            = link_to 'Удалить', admin_partner_product_path(partner_product), method: :delete, data: {confirm: 'Серьезно?' }, class: 'btn btn-mini btn-danger'
            = link_to catalog_items_count(partner_product, 'Каталог'), 
              admin_partner_product_partner_product_items_path(partner_product), class: 'btn btn-mini btn-info'

