= simple_form_for [:admin, @partner], :html => { :class => 'form-horizontal' } do |f|
  %fieldset
    = f.input :logo
    = image_tag (@partner.logo.url(:d230x120)) unless @partner.logo.blank?
  %ul{class:"nav nav-tabs"}
    %li
      %a{href:"#RU", data: {toggle:"tab"} } RU

  .tab-content
    #RU.tab-pane.active
      = f.input :name_ru, input_html: {class: 'span8'}
      = f.label :description_ru
      = f.cktext_area :description_ru
  .form-actions
    = f.button :submit, {class: 'btn-primary'}
    = link_to 'Отменить', admin_partners_path, class: 'btn'

